.header-container header .logo {
  font-size: 2em;
}
.header-container header .mobile-nav {
  display: none;
}

.header-container header {
  background: transparent;
  color: #fff;
}
.header-container header .menus {
  float:right;
}
.header-container header .menus li {
  display: inline-block;
  padding: 0px 1em;
}

.intro-container {
  background-image: url(../images/intro.jpg);
}

section#id1 {
  background-image: url(../images/nature1.jpeg);
}

section#id3 {
  background-image: url(../images/nature3.jpeg);
}

section#id5 {
  background-image: url(../images/nature5.jpeg);
}

