body {
  font-size: 12px;
}

nav ul li { /* IE Fixes */
  display: inline;
}

.oldie nav a { /* IE fixes */
  margin: 0 0.7%;
}

.header-container header .logo {
  max-width: 80%;
  font-size: 1.5em;
}
.header-container header .mobile-nav div {
  display: none;
}
.header-container header .mobile-nav.open .close{
  display: block;
}
.header-container header .mobile-nav:not(.open) .bars{
  display: block;
}
.header-container header .mobile-nav ~ .menus {
  padding: 1em 0;
  width: 100%;
}
.header-container header .mobile-nav ~ .menus ul {
  padding: 0;
}
.header-container header .mobile-nav.open ~ .menus li {
  display: block;
}
.header-container header .mobile-nav:not(.open) ~ .menus {
  display: none;
}

.intro-container {
  background-image: url(../images/intro-mobile.jpg);
}

section#id1 {
  background-image: url(../images/nature1-mobile.jpeg);
}

section#id3 {
  background-image: url(../images/nature3-mobile.jpeg);
}

section#id5 {
  background-image: url(../images/nature5-mobile.jpeg);
}

