* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

html,
button,
input,
select,
textarea {
  color: #333;
}

body {
  font: 400 16px/1.667 "Open Sans",sans-serif;
  font-size: 1em;
  line-height: 1.54;
  background-color: #fff;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
img,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

footer {
  background: #ccc;
}

a {
  text-decoration: none;
}

/**
 * custom classes 
 */
/* ---- width/height ---- */
.h-100 { height: 100%; }
.w-100 { width: 100%; }
.w-75 { width: 75%; }
.w-50 { width: 50%; }
.vw-100 { width: 100vw; } /* viewport height: 100% */
.vw-50  { width: 50vw; } /* viewport height: 100% */
.vh-100 { height: 100vh; } /* viewport width: 100% */
.vh-50  { height: 50vh; } /* viewport height: 50% */

/* ---- position/alignment ---- */
.pos-absolute { position: absolute; }
.pos-relative { position: relative; }
.pos-fixed    { position: fixed; } /* fixed to window, not to document */
.align-bottom { z-index: -1; } /* on the bottom of stack */
.align-top { z-index: 3000; } /* on the top of stack */
.pos-fixed.align-top { z-index: 3001; } /* on the top of stack */

/* ---- background ---- */
.bg-cover { background-position: center center; background-repeat: no-repeat; background-size: cover; }
.bg-white { background-color: #fff; }

/* ---- text ---- */
.txt-white { color: #fff; }
.txt-shadow { text-shadow: 0px 1px 1px #333; }
.txt-center { text-align: center; }

/* ---- NOs ---- */
.no-overflow { overflow: hidden; }
.no-style { list-style: none; }

/* ---- clear float ---- */
.clearfix:before, .clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }

/* ---- flexbox layout ---- */
.flex-vertical { flex-direction: column; }
.flex-h-start, .flex-h-left { display:flex; justify-content: flex-start}
.flex-h-end, .flex-h-right {display:flex; justify-content: flex-end}
.flex-h-center {display:flex; justify-content: center}
.flex-h-space-between {display:flex; justify-content: space-between}
.flex-h-space-around {display:flex; justify-content: space-around}
.flex-v-start, .flex-v-top {display:flex; align-items: flex-start}
.flex-v-end, .flex-v-bottom {display:flex; align-items: flex-end}
.flex-v-center {display:flex; align-items: center}
.flex-v-space-between {display:flex; align-content: space-between}
.flex-v-space-around {display:flex; align-content: space-around}

/**
 *  business-specific styles
 */
.wrapper {
  width: 90%;
  max-width: 1162px;
  margin: 0 auto;
  padding: 1em 5% 1em 5%;
}

.header-container.half-scrolled {
  background: #fff;
  border-bottom: 1px solid #ccc;
}

.header-container.half-scrolled,
.header-container.half-scrolled a {
  color: #333;
}

.header-container:not(.half-scrolled),
.header-container:not(.half-scrolled) a {
  color: #fff;
}

.header-container nav a {
  display: block;
  font-weight: bold;
  padding: 0 1em;
}

.intro-container {
  background-image: url(../images/intro.jpg);
}

section#id1 {
  background-image: url(../images/nature1.jpeg);
}

section#id3 {
  background-image: url(../images/nature3.jpeg);
}

section#id5 {
  background-image: url(../images/nature5.jpeg);
}

/**
 * carousel-specific styles
 */
div[ngd-carousel-slides][slide] {transition: 1s}
div[ngd-carousel-slides][slide='1'] {left:0%}
div[ngd-carousel-slides][slide='2'] {left:-100%}
div[ngd-carousel-slides][slide='3'] {left:-200%}
div[ngd-carousel-slides][slide='4'] {left:-300%}
div[ngd-carousel-slides][slide='5'] {left:-400%}
div[ngd-carousel-slides][slide='6'] {left:-500%}
div[ngd-carousel] nav i.fa {
   text-shadow: 1px 0px 0px #686868 , 0px 1px 0px #686868, -1px 0px 0px #686868, 0px -1px 0px #686868;
}
